<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>post data</h2>
    <form action="/dologin" method="post">
        username:<input type="text" name="username" ><br><br>
        password:<input type="password" name="password" ><br>
        <input type="submit" value="login">
    </form>
</body>
</html>