<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I AM YOUR FATHER -news page</h1>
    <p><%=userinfo.username%></p>
    <p><%-article%></p>
    <h2>condition:</h2>
    <%- include('footer.ejs')%>
</body>
</html>